<h1>Icons as a Service</h1>

<h1> Your icon: <span id="node-number-<%= hostname %>-icon" class="glyphicon <%= icon %>" style="padding-left: 30px; font-size: 0.75em;"></span></h1>


<h5> Hostname: <%= hostname %></h5>
<h5> IP: <%= ip %></h5>
<h5> Refresh: <span class="btn btn-primary" id="emoji-button" style="background-color: <%= ButtonColor.get %>">Button</span></h5>
<script>
$(document).ready(function(){
  $("#emoji-button").click(function(e){
      e.preventDefault();
      $.ajax({type: "GET",
              url: "/json",
              success:function(data) {
                $("#node-number-<%= hostname %>-icon")
                  .removeClass()
                  .addClass("glyphicon")
                  .addClass(data.icon);
              }
            });
      });
});
</script>
